@font-face {
    font-family: myFirstFont;
    src: url(../font/Sansation/Sansation_Light.ttf);
}

.bbb {
    font-family: myFirstFont;
  position: relative;
  margin-top: 20px;
  /*padding-top: 10px;*/
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  /*color: #ddd;*/
  color: white;
  text-shadow: 3px 3px 10px #ff0000;
}

html { 
  /*background: url(../../klasikalloginform/images/aaaa.jpg) no-repeat center center fixed; */
  /*background: url(../../images/leadership-slider-compressed1400x933.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Login container */
#kotaklogin{
/*  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  /*margin: auto;*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(3,3,3,0.65);
  box-shadow: 1px 1px 70px #3333ff;
  padding-bottom: 10px;
  /*#0066ff;*/
  /*display: none;*/
}

#kotaklogin2{
/*  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  /*margin: auto;*/
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background: rgba(3,3,3,0.65);
  box-shadow: 1px 1px 70px #3333ff;
  padding-bottom: 10px;
  /*#0066ff;*/
  /*display: none;*/
}

.warnaaku{
  color: white;
  font-size: 28px;
  /*margin-left: 40px;*/
}

.jarak-atas{
  padding-top: 20px;
}

.coba{
  /*background-color: blue;*/
  padding-top: 0px;
  margin-top: 0px;
}

.bckg{
  /*background: url(../../klasikalloginform/images/aaaa.jpg) no-repeat center center fixed; */
  /*background: url(../aaaa.jpg) center fixed; */
  background: url(../bg201832.jpg) center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.copy{
  /*position: absolute;*/
  /*margin-top: 10px;*/
  color: white;
  /*width: 360px;*/
  border-radius: 0px;
  background: rgba(3,3,3,0.65);
  /*font-style: bold;*/
  /*text-align: center;*/
  /*top: 0;*/
/*  left: 0;
  right: 0;*/
  /*bottom: 0;*/
  /*margin: auto;*/
  /*margin-left: 10px;*/
}

/* Heading */
h1{
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  /*color: #ddd;*/
  color: white;
  text-shadow: 3px 3px 10px #ff0000;
}

/* Inputs */
/*a,*/
input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 18px;
  /*color: #fff;*/
  margin-top: 20px;
  color: white;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,1);
  /*background: rgba(0, 153, 51,.1);*/
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px white;
  /*#cc3399;*/
  /*background: rgba(3,3,3,.18);*/
  /*background: rgba(102, 153, 255,1);*/
  /*background: rgba(255, 0, 255,.18);*/
  background: rgba(255, 255, 255,1);
  color:black;
}

.zz{
  margin-left: 10px;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  float: left;
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: white;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  }
:-ms-input-placeholder {  
   color: #333;  }

/* Link */
a{
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: myFirstFont;
  text-align: center;
  /*padding: 4px 8px;*/
  /*background: rgba(107,255,3,0.3);*/
}

a:hover{
  opacity: 0.7;
}


.bekasa{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none !important;
  position: relative;
  width: 20%;
  /*height: 60%;*/
  display: block;
  margin: 20px auto;
  font-size: 20px;
  /*color: #fff;*/
  color: #000000;
  /*margin-top: 30px;*/
  /*margin-bottom: 30px;*/
  /*padding: 8px;*/
  border-radius: 0px;
  border: none;
  background: rgba(255,255,255,1);
  /*background: rgba(107,255,3,0.3);*/
  /*background: rgba(0, 153, 51,.1);*/
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.linkmanual{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none !important;
  /*position: relative;*/
  /*width: 10%;*/
  /*height: 60%;*/
  display: block;
  /*margin: 9px auto;*/
  font-size: 20px;
  /*color: #fff;*/
  color: #000000;
  margin-top: 10px;
  /*padding: 8px;*/
  border-radius: 0px;
  border: none;
  background: rgba(255,255,255,1);
  /*background: rgba(107,255,3,0.3);*/
  /*background: rgba(0, 153, 51,.1);*/
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button1 {
/*    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;*/
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none !important;
  position: relative;
  width: 20%;
  /*height: 60%;*/
  display: block;
  margin: 20px auto;
  font-size: 20px;
  /*color: #fff;*/
  color: #000000;
  /*margin-top: 30px;*/
  /*margin-bottom: 30px;*/
  /*padding: 8px;*/
  border-radius: 0px;
  border: none;
  background: rgba(255,255,255,1);
  /*background: rgba(107,255,3,0.3);*/
  /*background: rgba(0, 153, 51,.1);*/
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button1:hover {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    opacity: 0.7;
}
