

/* Layout Stylesheet */ 

body{
    margin: 0;
    padding:0;     
    color: #333333;
}

#hdr2{
    width: 100%;
    height: 65px;
    color: #C4BFC3;
    font-size: 20px;
    padding-top: 20px;
    background:url(../images/banner_kanan_atas2.png) no-repeat right;
}

.grs_atas
{
    margin: 10px 0px 10px 0px;
    background: url('../images/grsheader.png') repeat-x;
    height: 5px;
}

#hdr{
    width: 100%;
    height: 65px;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    /*background:url(../images/banner_kanan_atas2.png) no-repeat right;*/
}

.elinks
{
    margin-top: 5px;
    margin-left: 45px;
    font-size: small;
    font-weight: bold;
}
.elinks a
{
    color: blue;
    font-style:italic;
}
.elinks a:hover
{
    text-decoration: none;
    color: #B83986;
}
.grs_atas
{
    margin: 10px 0px 10px 0px;
    background: #FF6699 url('../images/grsheader.png') repeat-x;
    height: 5px;
}

#lh-col{
    /*
     width: 30%;
     height: 410px;
     float: left;
     color: #333333;
     margin: 0;
     padding: 40px;
     background: url('../images/logo_sby_blur.png') no-repeat;
    */
    padding: 0px;
    margin: 0px;
    background-image: url('../images/logo_sby_blur.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-color: White;  /*change color to suit*/
    color : #000;  /*change color to suit*/
}

#pemkot
{
    font-size: 3em;
    color: #C4BFC3;
    text-align: right;
}
#pembatas
{
    /*background: url('../images/batas.png') no-repeat center;*/
    height: 400px;
    margin-top: 50px;
    text-align: center;
    padding-right: 10px;
}
/*
#gedung_mark
{
        z-index: 0;
        margin: 0px 0px 0px 0px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: url('../images/gedung.png');
        height: 247px;
        width: 449px;
        opacity: 0.1;
}
*/
#form_login
{
    font-weight: bold;
    text-align:center;
    color: #385B88;
    z-index: 1000;
    /*background: url('../images/gedung.png') no-repeat right;*/
    height: 235px;
}
#form_login input[type="submit"]
{
    margin-top: 10px;
    background-color: #385B88;
    color: white;
    font-weight: bold;
    border: outset #203C60;
    margin-bottom: 3px;
}
#form_login input[type="submit"]:hover
{
    border: inset #203C60;
}
#form_login input[type="text"]
{
    border: solid #385B88;
    border-width: 0px 0px 1px 0px;
    opacity: 0.5;
    font-weight: bold;
}
#form_login input[type="password"]
{
    border: solid #385B88;
    border-width: 0px 0px 1px 0px;
    opacity: 0.5;
    font-weight: bold;
}
span .memulai
{

}

#rh-col{

    color: #333333;
    margin: 0;
    padding: 200px 0px 0px 100px;
    border: 0;
}