ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
  border-color:#999999;
  border-style:outset;
}

p, ul, ol, blockquote {
	margin-top: 0;
	padding-top: 0;
	text-align: justify;
	line-height: 18px;
}

#menu {
	margin: 0 auto;
}

#menu td{
	 background-color: #3366FF;
}
#menu ul {
	margin: 0;
	padding: 0px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	padding: 10px 15px 0 15px;
	text-transform: capitalize;
	text-decoration: none;
	text-align:center;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: #0C7AC7 url(../images/img2.gif) repeat-x;
}
	
body
{
  padding: 20px;
}




