body {
	margin: 0px;
	background-color: #DDDDDD;
}

/* BANNER */
/* Main screen width: 1024px; */
.banner-shell {
	background-color: #DDEEFF;
}

.banner-outer {
	width: 1000px;
	padding: 12px;
	margin: 0 auto;
}

.banner-logo {
	width: 80px;
	height: 80px;
	background-color: #3399FF;
	margin-right: 10px;
}

.banner-title {
	margin-top: 24px;
}


/* End of BANNER */

/* BODY */
.body-shell {
	background-color: #F6F9FF;
}

.body-outer {
	width: 1024px;
	background-color: #EFF6FF;
	margin: 0 auto;
}

.body-left {
	width: 200px;
	padding: 12px;
	background-color: #D9EBFF;
}

.body-right {
	width: 800px;
	background-color: #FFFFFF;
}

.body-banner {
	background-color: #EFEFEF;
	padding: 12px 0px;
	min-height:170px;
}

.body-map {
	width: 800px;
	height: 600px;
	background-color: #CCCCCC;
}

input[type=text] {
	border: solid 1px #3366CC;
	width: 200px;
}

input[type=button] {
	border: solid 1px #003399;
	background-color: #FFFFFF;
	border-radius: 3px;
}

input[type=button]:hover {
	background-color: #F3F6FF;
	cursor: pointer;
}

input[type=button]:active {
	background-color: #CCDDFF;
}

/* End of BODY */

/* FOOTER */
.footer-shell {
	background-color: #DDDDDD;
}

.footer-outer {
	width: 1024px;
	margin: 0 auto;
	padding: 10px 0px;
}

/* End of FOOTER */

p {
	font-family: "Tahoma", "Arial", sans-serif;
	margin: 0px;
	color: #003399;
}

.ss {font-family: "Tahoma", "Arial", sans-serif;}

.xl {font-size: 24px;}
.r {font-size: 16px;}
.m {font-size: 14px;}
.s {font-size: 12px;}

.fl {float: left;}
.fr {float: right;}

.in {margin-left: 10px;}
.sp {margin-bottom: 5px;}
.xsp {margin-bottom: 10px;}

.ri {text-align: right;}
.ce {text-align: center;}

.sdblue {color: #003399;}
.dblue {color: #3366CC;}
.lblue {color: #6699E0;}
.black {color: #000000;}

.cb {clear: both;}

.curpoint{cursor:pointer;}

/*MapPopUp.php */
#map-canvas{
/*	width:800px;
	height:600px;
        height: 100%;
	margin-top:-70px;*/
}
#keteranganPopUp{
	z-index: 500;
	position: relative;
	width: 215px;
	height: 70px;
	font-size: 1.3em;
	line-height: 1.33;
	color: #fff;
	border-top: 1px solid #000;
	text-shadow: none;
	background: rgba(0,0,0,.7);
	left: 0px;
	top: 5px;
	padding-left:5px;
}
#keteranganPopUp div{
	color: white;
	font-size: 0.6em;
}
#keteranganPopUp p{
	color: white;
}
#panelSearch{
	float:left;
}
#btnSubmit{
	float:right;
}