#navigation-header-shell {
    background-image: url("../background-images/gradient-light-grey.png");
    background-size: contain;
    border-bottom: solid 1px #999999;
    box-shadow: 0px 0px 3px #CCCCCC;
    position: fixed;
    width: 100%;
    height: 36px;
    z-index:100;
}

.navigation-header-outer {
    width: 1024px;
    margin: 0 auto;
    padding: 6px 0px;
}

#body-shell {
    margin-bottom: 36px;
    padding-top: 48px;
}

.body-outer {
    width: 95%;
    margin: 0px auto 0px auto;
}

.body-title {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: #666666;
}

.body-map-outer {
    /* background-color: #EFEFEF;
    border: solid 1px #CCCCCC; */
    height: 600px;
    margin-top: 12px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #333333;
    text-shadow: 0px 1px 0px #FFFFFF;
    border-radius: 2px;
    overflow-y:auto;
}

.callout-new {
/*    width: 330px;
    height: 560px;*/
    height: 90%;
    /* background-color: rgba(128,128,128,0.8); */
    background-image: url('../img/bgmap_1.png');
    background-repeat:repeat;
    border:2px solid #B0B0B0;
    border-radius: 10px 10px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #6F6F6F;
    /* text-shadow: 0px -1px #666666; */
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    position:absolute;
    margin-top:5px;
    z-index:10;
    margin-left:2px;
    overflow-y:auto;
}
.callout-new .judul{
    font-size:18px;
    margin-left:10px;
    margin-top:5px;
}
.callout-new table{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #4F4F4F;
    text-shadow: none;
    display-table: fixed;
    margin-left:5px;
}
.callout-new td{
    padding-top:5px;
    padding-bottom:5px;
    vertical-align:top;
}
.callout-new input {
    border: solid 1px #CCCCCC;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    padding: 3px;
    /* width: 100%; */
    border-radius: 2px;
}

#navigation-header-shell .navigation-header-piece {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #333333;
    text-shadow: 0px 1px 0px #FFFFFF;
    float: left;
    margin-top: 3px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

#navigation-header-shell .navigation-header-piece:hover {
    color: #666666;
}
.anti-navigation-header-piece:hover {
    color: #333333;
    cursor:default;
}
#btnSubmit{
    float: right;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    /* text-shadow: 0px -1px #333333; */
    border: solid 1px #333333;
    background-image: url("../background-images/gradient-blue.png");
    background-size: contain;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    margin-right: -7px;
}
.btnLain{
    float: right;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0px -1px #333333;
    border: solid 1px #333333;
    background-image: url("../background-images/gradient-blue.png");
    background-size: contain;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}
.btnLain:hover{
    opacity: 0.8;
}
#button-new:hover {
    opacity: 0.9;
}

.ebudgeting-logo {
    background-image: url("../background-images/logo-ebudgeting.png");
    height: 20px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-top: 2px;
}
/*MAP pop up */
#map-canvas{
    /*width:810px;*/
    height:580px;
    left: 31%;
/*    left:340px;*/
    border:2px solid #B0B0B0;
    top:5px;
}
#keteranganPopUp{
    z-index: 10;
    position: absolute;
    width: 215px;
    height: 70px;
    border-radius: 2px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0px -1px #666666;
    background-color: rgba(128,128,128,0.8);
    padding-left:5px;
    padding-top:5px;
    margin-top: 11px;
    margin-left: 350px;
}
#keteranganPopUp p{
    font-size: 16px;
}
#panelSearch{
    float:left;
}
#btnSubmit{
    float:right;
}
.table-hidden{
    margin:auto;
    margin-top:10px;
}
#keterangan_help{
    width:970px;
    min-height:120px;
    background-color:#EEEEEE;
    color:#000000;
    padding:10px;
    border:2px solid #BBBBBB;
    margin-top: 8px;
    float:left;
    margin-left: 8px;
}
.legend-warna{
    width:50px;
    height:20px;
    float:left;
    border:1px solid #777777;
    margin-left:30px;
    margin-right:10px;
    margin-top:3px;
}
.legend-tulis{
    float:left;
    margin-top:3px;
}

.new-table {
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
}

.new-table tr td {
    border: solid 1px;
    padding: 5px;
}

.new-table thead tr td{
    font-weight: bold;
}

.tablecalloutnew{
    width:92%;
    position:relative;
    display-table:fixed;
}

/*Help*/
#loading{
    background-color: #FFFFFF;
    height: 560px;
    left: 325px;
    margin: 7px 0 0 17px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 790px;
    z-index: 15;
}
#loadingimg{
    width : 40px;
    height : 40px;
    margin-top : 250px;
}

#manualScreen{
    display:none;
    z-index:15;
}
#manualBg{
    z-index:15;
    position:absolute;
    top:0px;
    right:0px;
    margin:10px 25px 20px 20px;
    padding:10px;
    width:700px;
    height:540px;
    border-radius: 15px;
    background-color: #FFFFFF;
    background-image: url("../img/bgmap_1.png");
    background-repeat: repeat;
    border: 3px solid #B0B0B0;
    left:322px;
}
#manualContent{
    position:relative;
    overflow-y:scroll;
    margin: 50px 0px 0px 10px;
    height: 480px;
    background-color: rgba(240,240,240,1);
}
#manualContent p{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
}
#manualHeader{
    z-index:15;
    position:absolute;
    top:22px;
    width:676px;
    left:20px;
    border-bottom:1px solid #B0B0B0;
}
#btnClose{
    width:25px;
    height:25px;
    float:right;
    margin-right:20px;
    cursor:pointer;
}
#btnHelp{
    width:32px;
    height:32px;/*
    position:absolute;
    left:285px;
    top:8px;
    z-index:1000;
    cursor:pointer;*/
}
.imgHelp{
    height:300px;
}