.login-outer {
	margin: 120px auto 0px auto;
	width: 360px;
	height: 240px;
	background-color: #EFEFEF;
	border: solid 1px #CCCCCC;
	border-radius: 2px;
}

.login-header {
	padding: 20px 20px 10px 20px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 24px;
	color: #666666;
	text-shadow: 0px 1px 0px #FFFFFF;
}

.login-body {
	padding: 20px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #666666;
	text-shadow: 0px 1px 0px #FFFFFF;
}

.login-footer {
	padding: 0px 20px;
	margin-top: 20px;
}

#login-table tr td {
	padding: 3px;
}

#login-table tr td input {
	border: solid 1px #CCCCCC;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	padding: 3px;
	width: 150px;
	border-radius: 2px;
}

#button-login {
	float: right;
	margin-top: -40px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 0px -1px #333333;
	border: solid 1px #333333;
	background-image: url("../background-images/gradient-blue.png");
	background-size: contain;
	padding: 10px 20px;
	border-radius: 2px;
	cursor: pointer;
}

#button-login:hover {
	opacity: 0.9;
}