#navigation-header-shell {
	background-image: url("../background-images/gradient-light-grey.png");
	background-size: contain;
	border-bottom: solid 1px #999999;
	box-shadow: 0px 0px 3px #CCCCCC;
	position: fixed;
	width: 100%;
	height: 36px;
}

.navigation-header-outer {
	width: 1024px;
	margin: 0 auto;
	padding: 6px 0px;
}

#body-shell {
	margin-bottom: 36px;
}

.body-outer {
	width: 1024px;
	margin: 0px auto 0px auto;
	padding-top: 48px;
}

.body-title {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	color: #666666;
}

.body-map-outer {
	background-color: #EFEFEF;
	border: solid 1px #CCCCCC;
	height: 600px;
	margin-top: 12px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 2px;
}

.description-outer {
	margin-top: 12px;
}

.description-left {
	width: 200px;
	margin-right: 18px;
	float: left;
}

.description-center {
	width: 500px;
	margin-right: 36px;
	float: left;
}

.description-right {
	width: 264px;
	float: left;
}

.list-left {
	width: 300px;
	background-color: #FFFFFF;
	margin-right: 24px;
	float: left;
	overflow: scroll;
}

.list-right {
	width: 700px;
	float: left;
}

.description-map-outer {
	background-color: #EFEFEF;
	border: solid 1px #CCCCCC;
	height: 200px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 2px;
}

.list-map-outer {
	background-color: #EFEFEF;
	border: solid 1px #CCCCCC;
	height: 580px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 2px;
}

.filter-outer {
	background-color: #EFEFEF;
	border: solid 1px #CCCCCC;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 2px 2px 0px 0px;
	padding: 5px;
	height: 145px;
}

.list-outer {
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	border-radius: 0px 0px 2px 2px;
	height: 424px;
	margin-top: -1px;
	overflow-y: auto;
}

.list-piece {
	padding: 5px;
	border-width: 1px 0px 1px 0px;
	border-color: #CCCCCC;
	border-style: solid;
	margin-top: -1px;
}

.list-piece:hover {
	background-color: #FFFFCC;
	cursor: pointer;
}

.list-piece:active {
	background-color: #EFEFCC;
}

.filter-outer input {
	border: solid 1px #CCCCCC;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	padding: 3px;
	width: 100%;
	border-radius: 2px;
}

.filter-outer tr td {
	vertical-align: bottom;
}

.clickable-text:hover {
	cursor: pointer;
	color: #666666;
}

.clickable-text-dark:hover {
	cursor: pointer;
	color: #333333;
}

#navigation-header-shell .navigation-header-piece {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	color: #333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	float: left;
	margin-top: 3px;
	font-weight: bold;
	margin-left: 20px;
	cursor: pointer;
}

#navigation-header-shell .navigation-header-piece:hover {
	color: #666666;
}

#button-cari {
	float: right;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 0px -1px #333333;
	border: solid 1px #333333;
	background-image: url("../background-images/gradient-blue.png");
	background-size: contain;
	border-radius: 2px;
	cursor: pointer;
	width: 50px;
	margin-right: -7px;
}

#button-cari:hover {
	opacity: 0.9;
}

.msurvey-logo {
	background-image: url("../background-images/logo-msurvey.png");
	height: 20px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-top: 2px;
}