.infowindow_table{
  width:300px;
}

.infowindow_table tr{
  vertical-align:top;
}

#manualLegenda{
  background-color: #F0F0F0;
  height: 480px;
  margin: 50px 0 0 10px;
  overflow-y: scroll;
  position: relative;
}

.table_legenda{
  margin-left:5px;
  width:98%;
  border-collapse:collapse;
}

.table_legenda td{
  border:solid 1px #B0B0B0;
  padding-left:5px;
}