body {
	margin: 0px;
	background-image: url("../background-images/cross-light-grey.png");
}

.embedded-text {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #666666;
	text-shadow: 0px 1px #FFFFFF;
}

.embedded-text-light {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #999999;
	text-shadow: 0px 1px #FFFFFF;
}

.plain-text {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #666666;
	text-shadow: none;
}

.hborder {
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #FFFFFF;
}

a {text-decoration: inherit; color: inherit;}

p {margin: 0px 0px 5px 0px;}

.fr {float: right;}

.ri {text-align: right;}

.xl {font-size: 24px;}
.l {font-size: 20px;}
.r {font-size: 16px;}
.m {font-size: 14px;}
.s {font-size: 12px;}
.xs {font-size: 10px;}

.cb {clear: both;}