/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2015, 4:15:57 PM
    Author     : pacoul
*/

.form-irul-1 {
    margin:10px auto;
    max-width: 80%;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-irul-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-irul-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-irul-1 input[type=text],
.form-irul-1 input[type=date],
.form-irul-1 input[type=datetime],
.form-irul-1 input[type=number],
.form-irul-1 input[type=search],
.form-irul-1 input[type=time],
.form-irul-1 input[type=url],
.form-irul-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-irul-1 input[type=text]:focus,
.form-irul-1 input[type=date]:focus,
.form-irul-1 input[type=datetime]:focus,
.form-irul-1 input[type=number]:focus,
.form-irul-1 input[type=search]:focus,
.form-irul-1 input[type=time]:focus,
.form-irul-1 input[type=url]:focus,
.form-irul-1 input[type=email]:focus,
.form-irul-1 textarea:focus,
.form-irul-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-irul-1 .field-divided{
    width: 49%;
}

.form-irul-1 .field-long{
    width: 100%;
}
.form-irul-1 .field-select{
    width: 100%;
}
.form-irul-1 .field-textarea{
    height: 100px;
}
.form-irul-1 input[type=submit], .form-irul-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-irul-1 input[type=submit]:hover, .form-irul-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-irul-1 .required{
    color:red;
}