/* 
    Document   : irul-baru2015
    Created on : Dec 10, 2014, 9:07:39 AM
    Author     : ponkster
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.tombol_menu{
    display: block;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    float: right;
    width: fit-content;
}

.tombol_menu_logout{
    background: red;
}

.button-red{
    display: block;
    float: left;
    
    height: 20px;
    margin: 3px;
    padding: 3px;
    
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background: rgb(202, 60, 60);
}

.button-green{
    display: block;
    float: left;
    
    height: 20px;
    margin: 3px;
    padding: 3px;
    
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background: rgb(28, 184, 65);
}

.button-blue{
    display: block;
    float: left;
    
    height: 20px;
    margin: 3px;
    padding: 3px;
    
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background: rgb(66, 184, 221);
}

.button-grey{
    display: block;
    float: left;
    
    height: 20px;
    margin: 3px;
    padding: 3px;
    
    border-radius: 4px;
    color: black;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
}


.tombol_aksi{
    display: block;
    float: left;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.tombol_aksi a{
    color: black;
}
.tombol_aksi a:hover{
    text-decoration:none;
}