body {
    font-size: 0.75rem !important;
    font-family: 'Lemonada', cursive !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}
fieldset .form-row .content{
    min-height: 50px;
}
.tombol_filter {
    color: white;
    margin-bottom: 0.8rem;
}
.head_peach {
	background: linear-gradient(to right, #daacf1 0%, #dcc0e9 100%);
    text-align: center;
}
.form-group {
    margin-bottom: 0rem !important;
}
.tombol_actions {
	width: 14%;
}
.tombol_actions a{
    width: 32px;
    height: 30px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}