a:link {color:#0066CC; text-decoration:none;}
a:hover {color:#0015B6; text-decoration:none;}
a:active {color:#CC0000; text-decoration:none;}
a:visited {color:#0066CC; text-decoration:none;}

ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }

.nolkan
{
	background: url('../images/delete.png') no-repeat;
	width: 400px;
}
.nolkan:hover
{
	background: url('../images/delete_hover.png') no-repeat;
	width: 400px;
}

/*---------- bubble tooltip -----------*/
.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	font-weight:bold;
    text-decoration:none;
}
.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
.tt:hover{ z-index:25; color: #aaaaff; }
.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url('../images/bubble.gif') no-repeat top;
}
.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px; 
	background: url('../images/bubble_filler.gif') repeat bottom; 
}
.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(../images/bubble.gif) no-repeat bottom;
}

a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
}

body
{
  padding: 20px;
}
body {

margin : 0;
padding : 0;
font : 73% arial, verdana, tahoma, "Trebuchet MS", sans-serif;
line-height : 1.7em;
color : #333;
/*background: #FFFFFF url(../images/img01.gif) repeat-x;*/

	background-image: url('../images/logo_sby_blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: White;  /*change color to suit*/
    color : #000;  /*change color to suit*/
}
#banner {
height : 149px;
margin : 0 auto;
padding : 0;
background : #f7f7f7 url(/images/banner2013.png) no-repeat;
color : #333;
}
#banner h1 {
margin : 0;
padding : 25px;
text-align: left;
background : transparent;
color : #fff;
}

#content {
padding-left : 2px;
margin : 0 10px;
height : 10px;
background: #f7f7f7 url(../images/background_body_grey.gif) top center repeat-y;

}
#content p {
padding : 5px;
}
#sidebar {
	float: left;
	width: 220px;
}
#sidebar-a {
float : left;
width : 140px;
margin-left : 15px;
padding : 0 5px 0 10px;
border-right : 1px solid #eee;
}
#sidebar-b {
float : right;
width : 140px;
margin : 0 15px 0 0;
padding : 0 5px 0 10px;
border-left : 1px solid #eee;
}
/* Footer */

#footer {
	clear: both;
	background: #FFF url(../images/footer.jpg) repeat-x bottom;
	height: 46px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 75%;
	color: #666;
}
#footer p  { padding-bottom: 0px;}
#footer .rside { float: right; display: inline; padding: 5px; text-align: right}
a {
text-decoration : none;
color : #BA3F2F;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #aaa;
background : inherit;
}
a img {
border : 0;
}
.border {
padding : 10px;
margin : 10px;
border : 1px solid #aaa;
}
.imgleft {
float : left;
border : 1px solid #aaa;
margin : 5px 10px 10px 15px;
padding : 5px;
}
.imgright{
float : right;
border : 1px solid #aaa;
margin : 5px 15px;
padding : 15px;
}
h1, h2, h3 {
	margin: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #385B88;
}
h1 { font: normal 2.4em "Trebuchet MS", Arial, Sans-Serif; padding: 7px 0 0 8px; margin: 0; }
h1 a { color: #737373; background: inherit; }
.orange { color: #E0692A; }
h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}
h3 {
padding : 5px;
text-transform : uppercase;
font-size : 110%;
letter-spacing : 5px;
color : #fff;
background : #eee;
}
h4 {
padding : 5px;
text-transform : uppercase;
font-size : 110%;
color : #fff;
background : #f17c0b;
}
.clear {
clear : both;
width : 100%;
}
.col3,.col3center {
float: left;
width: 30.5%;
}
.col3center {
margin: 0 3%;
}
strong {
color: #000;
}
thead{
text-align : center;
color : #fff;
background : #000066;
border: 1px solid;
}

.inpText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003366;
	border-right-color: #003366;
	border-bottom-color: #006699;
	border-left-color: #006699;
	background-color: #EAF0FF;
	cursor: hand;

}
.inpButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EAF0FF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003366;
	border-right-color: #003366;
	border-bottom-color: #006699;
	border-left-color: #006699;
	background-color: #336699;
	
}

/* 2.5 - Navigation - Level 3 */
/*----------------------------*/
.nav3 {overflow: hidden; clear: both; float: left; width: 160px; min-height: 500px; margin: 10px 0px 0px 0px; padding: 0px; color: rgb(75,75,75); font-size: 10px;}
.nav3 ul {width: 160px; margin: 0px 0px 20px 0px; padding: 0px; border-bottom: solid 1px rgb(216,206,159); background-color: rgb(219,230,241);}	
.nav3 li {list-style: none; margin: 0px; padding: 0px;}
.nav3 li.title {margin: 0px 0px 0px 0px; padding: 3px 5px 2px 15px; background-color: rgb(156,186,214); color: rgb(255,255,255); text-transform: uppercase; font-weight: bold; font-size: 120%;}
.nav3 li.group a {display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 9px 0px 28px; border-top: solid 1px rgb(200,200,200); border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); font-weight:lighter; font-size: 100%;}
.nav3 li a {display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 20px; border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); text-decoration: none; font-size: 120%;}
.nav3 li a:hover, .nav3 li a.selected {border-left: solid 7px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}

/* layout
   ------ */


.header10 { 
	height: 70px;
	background: #fff url(../images/headerbg.gif) repeat-x bottom;
	color: #808080;
	margin: 3px 0;
	padding: 10px 0 0 0;
}

.top_info {
	float: right;
	width: 400px;
	padding: 5px 0 4px 0;
	color: #808080;
}

	.top_info_left {
		width: 200px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 290px;
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}

.browse_category  {
	width: 800px;
	color: #FFF;
	background: inherit;
}

.bar { 
	clear: both;
	font-size: 1.0em;
	height: 27px; 
	color: #FFF;
	background: #FF9148 url(../images/menubg.gif) repeat-x;
}
	.bar li { 
		padding: 6px 12px 6px 12px;
		color: #FFEADC;
		font-weight:bold;
		
	}
	
	.bar li.active { 
		background: #E0691A url(../images/bar.gif) repeat-x; 
		color: #fff;
		font-weight: bold; 
		
	}
	
	.bar li a { 
		font-weight: bold;
		color: #FFF; 
		background: inherit;
		text-decoration: none;
	} 


/* Header > Logo */

#logo {
	 height: 252px;
	background: url(../images/img05.jpg) no-repeat left bottom;
	float: left;
}
#logo2{
	height:252px;
	background: url(../images/img07.jpg) no-repeat right bottom;
}

#logo h1 {
	/*padding: 90px 0 0 30px;*/
	padding: 120px 0 0 50px;
	text-transform:inherit;
	font-size: 3em;
	margin: 20px 0px 0px 0px;
	
}

#logo h2 {
	margin: 10px 0px 0px 390px;
	/*padding: 10px 0 0 100px;*/
	text-transform: inherit;
	font-size: 3em;
}

#logo h10 {
	padding: 200px 0px 0 0px;
	text-transform:inherit;
	font-size: 1.5em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #385B88;
	margin: 0px 0px 0px 100px;
}

#logo a {
	text-decoration: none;
	color: #385B88;
}

/* Header > Top Menu */

#topmenu {
	float: left;
	margin: 0 -4px 0 0;
}

#topmenu ul {
	margin: 0;
	list-style: none;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;
	float: left;
	height: 34px;
}

#topmenu a:hover {
}

#topmenu span {
	display: none;
}

#topmenu1 {
	width: 35px;
	background: url(../images/img02.gif) no-repeat left center;
}

#topmenu2 {
	width: 31px;
	background: url(../images/img04.gif) no-repeat left center;
}

#topmenu3 {
	width: 35px;
	background: url(../images/img03.gif) no-repeat left center;
}

#login {
		float: left;
		width: 220px;
		padding: 5px 0 0 100px;
}

#login form {
}

#login fieldset {
	border: thin;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #385B88;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#inputtext1, #inputtext2 {
	color: #385B88;
}

#inputsubmit1 {
	background: #385B88;
	color: #FFFFFF;
}

.boxed {
}

.boxed .title {
	height: 26px;
	padding: 10px 0 0 10px;
	background: url(../images/img01.gif) repeat-x;
	text-transform: lowercase;
	font-size: 1em;
	color: #713816
}

.boxed .content {
	padding: 20px 20px 40px 20px;
	background: url(../images/img01.gif) repeat-x;
}

#sidebar {
	float: left;
	width: 220px;
}

#sidebar a {
}
#main {
	float: right;
	width: 700px;
}

#main a {
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Post */

.post {
	margin-bottom: 15px;
	padding: 5px 20px 20px 20px;
	background: url(images/img05.gif) no-repeat center bottom;
}

.post .title {
	margin-bottom: 20px;
	color: #713816
}

.post .date {
	float: left;
	width: 70px;
	padding-right: 20px;
	text-align: right;
	font-size: x-small;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
	display: none;
}

.post .meta {
	float: left;
	padding-left: 20px;
	border-left: 1px dotted #713816;
	font-size: x-small;
}

.post .meta p {
}

.post .story {
	padding-top: 10px;
}

.post h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
}

.post .story p, .post .story blockquote, .post .story ul, .post .story ol {
	margin-bottom: 1.5em;
	line-height: 180%;
}

font {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 10px;
}

#dalam
{
	padding: 0px;
	margin: 0px;
	background-image: url(../images/intro.png);
    background-repeat: no-repeat;
    background-position: center left; 
    background-attachment:fixed;
    background-color: White;  /*change color to suit*/
    color : #000;  /*change color to suit*/
}
#awal
{
	height: 80px;
	margin: 270px 90px 0px 0px;
	background: url(../images/lambang.png) no-repeat center;
}

#kolom
{
	padding-left: 800px;
	padding-top: 200px;
	margin: 0px 0px 0px 0px;
}

TABLE	{font-family:verdana,Arial,tahoma,sans-serif; font-size:10px;border:0px; cellpadding:2px}

.teksisi {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;

}
.teksbesar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.putih_besar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.hitam_besar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.hitam_kecil {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.hitam_kecil2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.putih_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #B8C0D5;
}
.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	position: static;


}
.menu
{
	COLOR: #003366;
	FONT-FAMILY: Tahoma,Verdana;
	FONT-SIZE: 10px;
}
.submenu
{
	COLOR: #003366;
	FONT-FAMILY: Tahoma,Verdana;
	FONT-SIZE: 10px;
}
.Genap {
	background-color: #F8F8F8;
}
.Ganjil {
	background-color: #DCDFE9;
}
.merah {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
}
.hitambesar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.inptype {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;

}
.inpreadonly{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #EEEEEE;
}
.teksbesarhitam {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.biru {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0066CC;
}
.bantuan {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 20px;
	color: #000000;
}

/* TOP HEADER -------- */
#top {
	margin: 0 auto;
	padding: 0;
	color: #666;
	background: #FFF url(../images/top.jpg) repeat-x top;
	height: 120px;
}
#top h1 { padding: 10px 0 0 25px; color: #FFF; font-size: 160%; background: transparent;}
#top h2 { padding: 0px 0 0 25px; color: #aaa; font-size: 80%; background: transparent;}
#top .padding { padding-top: 5px; }
#top .lefts { 
	background: transparent url(../images/topl.jpg) no-repeat left; 
	height: 81px; 
}
#top .rights {
	background: transparent url(../images/topr.jpg) no-repeat right;
	float: right;
	height: 81px;
	width: 18px;
}

/* SEARCH BOX AND BUTTON ----------*/
#search { float: right;  padding: 10px 25px 0 0;  }

#search input.text { 
	border: 1px solid #eee;
	display: inline;
	margin-top: 5px;
	width: 120px;
	height: 12px;
	font-size: 10px;
 }
 #search input.searchbutton {
	border: 0;
	background: transparent;
	color: #FFF;
	cursor: pointer;
	font: bold 0.8em Arial, Arial, Sans-Serif
 }

#sub
{
}

#background1 {
	background: url(../images/grs_vert.gif) no-repeat;
}

#background2 {
	background: url(../images/menu_bg.gif) repeat-x;
}

#background3 {
	background: url(../images/menu_bg.gif) repeat-x;
}

#background4 {
	background: url(../images/grs_vert.gif) repeat-y;
}
.form_error
{
	color: red;
	text-decoration: blink;
	font-weight: bold;
}