body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666699;
	
	scrollbar-face-color: #A5B7D3;
	scrollbar-shadow-color: #A5B7D3;
	scrollbar-highlight-color: #A5B7D3;
	scrollbar-3dlight-color: #A5B7D3;
	scrollbar-darkshadow-color: #697074;
	scrollbar-track-color: #DFDFDF;
	scrollbar-arrow-color: #666666;
}
td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666699;
}
.border1{
	border: 1px;
	border-color : Gray Gray Gray Gray;
}
.forCopyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.forTexts {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-align: justify;
}
.forForms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px inset;
}
.forButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px outset;
}
a {
	text-decoration: none;
	color: #666699;
}
a:hover{
	color: #99CCFF;
}
span {
	text-align: justify;
	text-indent: 4pt;
}
.mainmenu {
	color: #FFFFFF;
}
.justify {
	text-align: justify;
}
.inpText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #336699;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003366;
	border-right-color: #003366;
	border-bottom-color: #006699;
	border-left-color: #006699;
	background-color: #EAF0FF;
	cursor: hand;

}
.inpButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EAF0FF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003366;
	border-right-color: #003366;
	border-bottom-color: #006699;
	border-left-color: #006699;
	background-color: #336699;
	
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666699;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #003366;
	border-right-color: #003366;
	border-bottom-color: #006699;
	border-left-color: #006699;
	background-color: #EAF0FF;
	height: 18px;
}
.lightBlue{
	color : #666699;
}
.menu {
	text-decoration: none;
	color: #FFFFFF;
}
.menu:hover{
	color: #99CCFF;
}
.darkBlue{
	color : #0000EE;
}

.font12{
	font-size: 12px;
}
.font8{
	font-size: 8px;
}
.font8v2{
	COLOR: #FF2222;
}
.font11{
	font-size: 11px;
}
.fontBlack{
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-align: justify;
}.bgtop {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
}
.print {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.putih {
    color: #EEEEEE;
    font-size: 10px;
    
}
