.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#f7d9d9;		
}
.CSSTableGenerator td{
	vertical-align:middle;
	background-color:#e1ecf7;
	border:1px solid #cccccc;
	border-width:0px 1px 1px 0px;
	padding:4px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #a1c7ed 5%, #a1c7ed 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a1c7ed), color-stop(1, #a1c7ed) );
	background:-moz-linear-gradient( center top, #a1c7ed 5%, #a1c7ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1c7ed", endColorstr="#a1c7ed");	
        background: -o-linear-gradient(top,#a1c7ed,a1c7ed);

	background-color:#a1c7ed;
	border:0px solid #cccccc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:#4a4a4f;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #a1c7ed 5%, #a1c7ed 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a1c7ed), color-stop(1, #a1c7ed) );
	background:-moz-linear-gradient( center top, #a1c7ed 5%, #a1c7ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1c7ed", endColorstr="#a1c7ed");	background: -o-linear-gradient(top,#a1c7ed,a1c7ed);

	background-color:#a1c7ed;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}