body
{
   font-family: Verdana !important;
   color: black !important;
   font-size: smaller !important;
}
td
{
   color: black !important;
   font-size: smaller !important;
}
.tebal_sama
{
   border: 1px solid !important;
}